h2{
    text-align: center;
}

.seperator{
    border-top: 2px solid #ccc;
    margin: 20px 0;
}

.table{
    text-align: center;
    color: white;
}

/*.img_link:link, .img_link:visited, .img_link:hover, .img_link:active{*/
/*    text-decoration: none;*/
/*}*/